:root{
    --primary: #000000;
    --secondary: #bab7d7;
    --tertiary: #1e3737;
    font-family: "Helvetica", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   color: var(--primary);
   background-color: var(--secondary); 
}
ul {
    list-style-type: none;
}
a {
    color: var(--tertiary);
    text-decoration: none;
}
a:hover .active{
    color: var(--secondary);
}
